<div class="container">
    <div class="row">
        <div class="col col-8">
            <h1>Welcome!</h1>
        </div>
        <div class="col col-4">
            <div class="card">
                <div class="card-header">
                    <h5 class="card-title">Updates</h5>
                </div>
                <div class="card-body">   
                    <div class="mb-4">
                        <h6 class="card-subtitle mb-2 text-muted">Item Substitutions</h6>                    
                        <div class="card card-body m-1">
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        </div>
                    </div>
                    <div class="mb-4">
                        <h6 class="card-subtitle mb-2 text-muted">Upcoming Conversions</h6>
                        <div class="card card-body m-1">
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        </div>
                    </div>
                    <div class="mb-4">
                        <h6 class="card-subtitle mb-2 text-muted">Policy Changes</h6>
                        <div class="card card-body m-1">
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

